appnope==0.1.2
autopep8==1.5.7
backcall==0.2.0
bleak==0.12.1
decorator==5.0.9
jedi==0.18.0
matplotlib-inline==0.1.2
numpy==1.21.1
opencv-contrib-python==4.5.3.56
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pycodestyle==2.7.0
Pygments==2.10.0
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-libdispatch==7.3
toml==0.10.2
traitlets==5.0.5
wcwidth==0.2.5
